<!DOCTYPE html>
<html>
<head>
  <title>AI Skin Disease Detector</title>
</head>
<body style="font-family: Arial; text-align: center; margin-top: 50px;">
  <h1>AI Skin Disease Detector</h1>
  <form action="/predict" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*" required>
    <button type="submit">Analyze</button>
  </form>

  {% if image_path %}
    <h3>Uploaded Image:</h3>
    <img src="{{ image_path }}" width="250" style="border: 2px solid #ccc;">
  {% endif %}

  {% if prediction %}
    <h2>Prediction: {{ prediction }}</h2>
    <p><b>Care Tip:</b> {{ tip }}</p>
  {% endif %}
</body>
</html>
